<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>陈科明的简历</title>
    <link rel="icon" href="{{ STATIC_URL }}images/duck.ico" type="img/png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/resume.css" />
</head>
<body>
<a href="{% url 'topic:index' %}">首页</a>
<div class="header">
    <h1>个人简历</h1>
</div>
<div class="sidebar">
    <div class="picture">
        <img src="{{ STATIC_URL }}images/image.jpg"/>
        <h1>陈科明</h1>
        <p>(湖北黄冈)</p>
    </div>
    <div class="profile">
        <h2>基本信息</h2>
        <ul>
            <li class="phone"><span class="glyphicon glyphicon-phone"></span>13764833941</li>
            <li class="email">ckm426@126.com</li>
            <li class="website"><span class="glyphicon glyphicon-link"></span>https://cryptic-waters-89491.herokuapp.com/</li>
            <li class="location"><span class="glyphicon glyphicon-map-marker"></span>上海 松江区</li>
        </ul>
    </div>
    <div class="skill">
        <h2>技能</h2>
        <ul>
            <li class="first">Python:</li>
            <li class="second">Django:</li>
            <li class="third">Css:</li>
            <li class="fourth">Javascript:</li>
        </ul>
    </div>
    <div class="education">
        <h2>教育背景</h2>
        <ul>
            <li>2008.9-2014.6: 东华大学</li>
            <li>计算机科学与技术学院</li>
            <li>网络工程专业</li>
            <li>2005.9-2008.6: 蕲春一中</li>
        </ul>
    </div>
    <div class="extra">
        <h2>其他</h2>
        <ul>
            <li>身高: 176cm</li>
            <li>体重: 64kg</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="description">
        <h2>实践经验</h2>
        <p>1.熟练使用python语言编程，在编程练习网站 <a target="_blank" href="https://www.codewars.com/users/Charlesp">Codewars</a>
            上等级为2，最高为1级。<br />
        Codewars上我的python主页：<br />
        https://www.codewars.com/users/Charlesp</p>
        <p>2.熟练使用Django进行web应用开发，对关系数据库和github版本控制基本也会使用，个人网站
            <a target="_blank" href="https://cryptic-waters-89491.herokuapp.com/">rango</a> 为网络教程 <a target="_blank" href="http://rangodemo.pythonanywhere.com/rango/">tango with django</a>
            的重写和拓展，上面的功能、样式、ajax全部是自己独立完成。<br />
        网站地址：https://cryptic-waters-89491.herokuapp.com/<br />
        网站介绍：会员可以创建一个主题容器，然后在容器下添加一系列相关链接及其描述，也可以收藏别人创建的容器和链接。
        游客可以按收藏数查看容器和链接，可以搜索，查看会员主页。功能类似浏览器书签，只是可以查看别人的收藏，等同于多了
        些分享功能。</p>
    </div>
    <div class="intention">
        <h2>求职意向</h2>
        <ul>
            <li>Python相关开发</li>
            <li>Django相关开发</li>
        </ul>
    </div>
    <div class="experience">
        <h2>工作经历</h2>
        <p>东莞厚街绿洲鞋业:</p>
        <ul>
            <li>时间: 2014.9-2015.9</li>
            <li>职位：企划课报价</li>
        </ul>
        <p>志途(香港)贸易有限公司:</p>
        <ul>
            <li>时间：2015.11-2016.10</li>
            <li>职位：IT & ERP 助理</li>
        </ul>
    </div>
</div>
</body>
</html>