<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>陈科明的简历</title>
    <link rel="icon" href="{{ STATIC_URL }}images/duck.ico" type="img/png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/resume.css" />
</head>
<body>
<a href="{% url 'topic:index' %}">首页</a>
<div class="header">
    <h1>个人简历</h1>
</div>
<div class="sidebar">
    <div class="picture">
        <img src="{{ STATIC_URL }}images/image.jpg"/>
        <h1>陈科明</h1>
        <p>(湖北黄冈)</p>
    </div>
    <div class="profile">
        <h2>基本信息</h2>
        <ul>
            <li class="phone"><span class="glyphicon glyphicon-phone"></span>13764833941</li>
            <li class="email">ckm426@126.com</li>
            <li class="website"><span class="glyphicon glyphicon-link"></span>
                <a id="content-link" target="_blank" href="https://cryptic-waters-89491.herokuapp.com/">https://cryptic-waters-89491.herokuapp.com/</a></li>
            <li class="location"><span class="glyphicon glyphicon-map-marker"></span>上海 松江区</li>
        </ul>
    </div>
    <div class="skill">
        <h2>技能</h2>
        <ul>
            <li class="first">Python:</li>
            <li class="second">Django:</li>
            <li class="third">Css:</li>
            <li class="fourth">Javascript:</li>
        </ul>
    </div>
    <div class="education">
        <h2>教育背景</h2>
        <ul>
            <li>2008.9-2014.6: 东华大学</li>
            <li>计算机科学与技术学院</li>
            <li>网络工程专业</li>
            <li>2005.9-2008.6: 蕲春一中</li>
        </ul>
    </div>
    <div class="extra">
        <h2>其他</h2>
        <ul>
            <li>身高: 176cm</li>
            <li>体重: 64kg</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="description">
        <h2>自我推介</h2>
        <p>1.我高考以过本省一本线40多分的成绩就读上海东华大学网络工程专业，学习能力不错。</p>
        <p>2.大学里专业学的不好，我实事求是，并没找关于计算机方面的工作。</p>
        <p>3.这几年工作之余我自学python，django，css，jQuery，学习着做了几个项目之后，重写和拓展了一个之后，希望能找一份关于python或web开发助理 or 初级工程师的职位。<br />
        <a target="_blank" href="https://cryptic-waters-89491.herokuapp.com/">网站地址：</a>https://cryptic-waters-89491.herokuapp.com/ <br/>
        网站介绍：会员可以创建一个主题容器，然后在容器下添加一系列相关链接及其描述，也可以收藏别人创建的容器和链接。
        游客可以按收藏数查看容器和链接，可以搜索，查看会员主页。功能类似浏览器书签，只是可以查看别人的收藏，等同于多了
        些分享功能。</p>
        <p>4.熟练掌握和使用python。<a target="_blank" href="https://www.codewars.com/users/Charlesp/">codewars</a>上我的python主页：https://www.codewars.com/users/Charlesp/ <br />
            codewars是一个练习编程的网站，我在上面等级为2，最高为1级。已做了154道题，只有做难度和自己等级临近的题目才能得分。</p>
        <p>5.<a target="_blank" href="https://github.com/Charlespes">git</a>主页：https://github.com/Charlespes</p>
    </div>
    <div class="intention">
        <h2>求职意向</h2>
        <ul>
            <li>Python相关开发</li>
            <li>Django相关开发</li>
        </ul>
    </div>
    <div class="experience">
        <h2>工作经历</h2>
        <p>东莞厚街绿洲鞋业:</p>
        <ul>
            <li>时间: 2014.9-2015.9</li>
            <li>职位：企划课报价</li>
            <li>1.和国外客户用邮件交流，报价，议价。<br />
                2.做报表等。</li>
        </ul>
        <p>志途(香港)贸易有限公司:</p>
        <ul>
            <li>时间：2015.11-2016.10</li>
            <li>职位：IT & ERP 助理</li>
            <li>1.IT助理，公司软硬件维护，对外交流。<br />
                2.ERP助理，和ERP供应商软件供应商沟通，新员工ERP培训。</li>
        </ul>
    </div>
</div>
</body>
</html>